
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="static/css/index.css" />
</head>
<body>
    <div class="back">
<!-- Header -->
<header id="header">
        <h1> 생활 냉온장고 보관함 </h1>
</header>

<div id="title">
    <center>
    <h1> WooSuk Box </h1>
    </center>
</div>

<center>
<table id="table1" border="0">
    <tr>
        <td><img src="../static/css/image/first.png" width=200 height=200 onclick="location.href='storage.html' "></td>
        <td><img src="../static/css/image/second.png" width=200 height=200 onclick="location.href='receive.html' "></td>
        <td><img src="../static/css/image/third.png" width=200 height=200 onclick="location.href='call.html' "></td>
    </tr>

    <tr align=center>
        <td><button id = "btn" type="button" onclick="location.href='storage.html' ">보관</button></td>
        <td><button id = "btn" type="button" onclick="location.href='receive.html' ">수령</button></td>
        <td><button id = "btn" type="button" onclick="location.href='call.html' ">문의</button></td>
    </tr>
</table>
</center>
</div>
</body>
</html>